header {
    padding-right: calc(
        env(safe-area-inset-right) + var(--page-padding-horizontal)
    );
    padding-left: calc(
        env(safe-area-inset-left) + var(--page-padding-horizontal)
    );

    margin-top: env(safe-area-inset-top);
}

.inner {
    padding: var(--top-bar-padding-vertical) 0;
    display: flex;
    justify-content: space-between;
}

.inner a {
    text-decoration: none;
}

.inner svg {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
}

.inner span {
    color: var(--default-text-color);
}

.home * {
    vertical-align: middle;
}

.home span {
    font-size: 2.5rem;
}

.irr {
    padding-left: 0.8rem;
}

.deepwoken {
    padding-left: 0.4rem;
    font-weight: lighter;
}

.menu {
    display: flex;
    padding-top: 1.2rem;
}

.menu a {
    padding-left: 2rem;
}

.menu a:hover span {
    opacity: 0.7;
}

.menu div {
    height: 0.4rem;
    width: 0.4rem;
    background-color: transparent;
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.menu a:hover div {
    background-color: var(--default-text-color);
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu span {
    font-size: 1.6rem;
}
